@font-face {
  font-family: "Medium";
  src: url("../../fonts/Unbounded-Medium.woff2") format("woff2");
}

body {
  max-width: 1440px;
}
.menu {
  padding: 15px 30px;
  display: flex;
  justify-content: flex-start;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  position: relative;
}

.icon {
  width: 32px;
  height: 32px;
  position: relative;
}

.search-icon {
  width: 46px;
  height: 44px;
  top: -84.5px;
  left: 1063px;
}

.account-icon {
  width: 77px;
  height: 56px;
  top: -84.5px;
  left: 1063px;
}

.favorites-icon {
  width: 53px;
  height: 44px;
  top: -84.5px;
  left: 1063px;
}

.basket-icon {
  width: 46.62px;
  height: 44px;
  top: -84.5px;
  left: 1062px;
}
/*
Пошук
*/

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fbfffd94;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

.search-overlay.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 0.3s ease, visibility 0s linear 0s;
}

.search-bar {
  width: 1440px;
  height: 80px;
  position: absolute;
  top: -105px;
  left: -29px;
  background: #eff1f0;
  padding-left: 20px;
  display: flex;
  align-items: center;
  z-index: 10;
  padding-right: 50px;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.search-bar.visible {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
    visibility 0s linear 0s;
}

.search-bar.hidden {
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
    visibility 0s linear 0.3s;
}

.search-input {
  width: 1265px;
  height: 27px;
  font-size: 16px;
  background-color: #eff1f0;
  border: none;
  border-radius: 20px;
  box-shadow: -5px -5px 5px 0px #fbfffd inset, 4px 4px 4px 0px #c4c7c5 inset;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 2px;
  vertical-align: middle;
  font-family: "Medium";
  margin-left: 48px;
}

.close-button {
  position: absolute;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-icon {
  width: 20px;
  height: 20px;
  position: relative;
  top: 0px;
  right: 67.6px;
}
