@font-face {
  font-family: "Regular";
  src: url("../fonts/Unbounded-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Bold";
  src: url("../fonts/Unbounded-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Medium";
  src: url("../fonts/Unbounded-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Light";
  src: url("../fonts/Unbounded-Light.woff2") format("woff2");
}

.footer {
  background: linear-gradient(
    180deg,
    rgba(239, 241, 240, 0.9) 0%,
    rgba(208, 209, 209, 0.95) 33.09%,
    rgba(177, 178, 177, 0.9) 62.12%,
    rgba(114, 114, 114, 0.8) 100%
  );
  width: 1440px;
  height: 478px;
  position: relative;
  top: 980px;
  flex-shrink: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.footerContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 0px;
  width: 100%;
}

.footerLogo {
  flex-shrink: 0;
  position: relative;
  left: 1039px;
  top: 40px;
}

.footerLogoIcon {
  width: 340px;
  height: 200px;
  flex-shrink: 0;
}

.footerColumn {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.footerLeft {
  flex: none;
  font-size: 13px;
  font-weight: 500;
  font-family: "Medium";
  color: #515151;
  font-style: normal;
  letter-spacing: 2.08px;
  position: relative;
  line-height: 0.5;
  top: 323px;
  margin-left: -200px;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footerCenter {
  flex: 1;
  font-size: 13px;
  font-weight: 500;
  font-family: "Medium";
  color: #515151;
  font-style: normal;
  letter-spacing: 2.08px;
  position: relative;
  line-height: 0.5;
  right: 267px;
  top: 323px;
  width: max-content;
  white-space: nowrap;
}

.footerRight {
  flex: 1;
  font-size: 13px;
  font-weight: 500;
  font-family: "Medium";
  color: #515151;
  font-style: normal;
  letter-spacing: 2.08px;
  text-align: right;
  position: relative;
  top: 230px;
  right: 77.5px;
}

.footerIcons {
  display: flex;
  gap: 15px;
}

.footerIcons img {
  text-align: left;
  width: 25px;
  height: 25px;
  color: #515151;
  position: relative;
  top: 188px;
  right: -376px;
}

.footerBottom {
  text-align: left;
  font-size: 13px;
  color: #515151;
  position: relative;
  top: 207px;
  right: -71px;
  font-family: "Light";
  font-weight: 300;
  letter-spacing: 2.08px;
}
